<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pratilipi</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>

    <nav class="navbar navbar-defaullt navber-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header justify-content-center">
          <p class="navbar-brand"><a href="/">PRATILIPI</a></p>
        </div>
      </div>
    </nav>

    <div class="jumbotron centered">
      <div class="container">
        <i class="fas fa-book-reader fa-5x"></i>
        <h1 class="display-3">Pratilipi</h1>
        <p class="lead">Free Stories, Audio stories and Books!</p>
        <hr>
        <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
      </div>
    </div>

<%- include('partials/footer') %>
